Repository whitphx/vscode-emacs-mcx: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

Version 0.54.0
  package.json
Due: prettier --write

Revert "Override the default value of `editor.find.seedSearchStringFromSelection` via the `configurationDefaults` contribution point (#1766)"
  README.md
  package.json
Due: prettier --write

Revert "Override the default value of `editor.find.seedSearchStringFromSelection` via the `configurationDefaults` contribution point (#1766)" (#1768)
  README.md
  package.json
Due: prettier --write

Version 0.54.1
  package.json
Due: prettier --write

Fix the scroll-(up|down)-command tests
  src/test/suite/commands/move.test.ts
Due: eslint --cache --fix, prettier --write

Call sinon.restore() diffensively
  src/test/suite/commands/move.test.ts
Due: eslint --cache --fix, prettier --write

Fix the scroll-(up|down)-command tests (#1807)
  src/test/suite/commands/move.test.ts
Due: eslint --cache --fix, prettier --write

Set retries: undefined for local dev
  src/test/suite/index.ts
Due: eslint --cache --fix, prettier --write

Set retries: 2 to the web test config
  src/web/test/suite/index.ts
Due: eslint --cache --fix, prettier --write

Set retries: undefined for local dev (#1803)
  src/test/suite/index.ts
  src/web/test/suite/index.ts
Due: eslint --cache --fix, prettier --write

Add tests
  src/test/suite/commands/paredit.test.ts
Due: eslint --cache --fix, prettier --write

Fix lint staged config
  .lintstagedrc.json
  lint-staged.config.mjs
Due: prettier --write

Implement the `emacs-mcx.paredit.parentheses` config
  package.json
  src/configuration/configuration.ts
  src/configuration/iconfiguration.ts
Due: eslint --cache --fix, prettier --write

Configure linters to ignore the vendor dir
  .eslintignore
  .lintstagedrc.json
  .prettierignore
Due: prettier --write

Update .vscodeignore
  .vscodeignore
Due: none

Install the local paredit.js
  package.json
  yarn.lock
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

Fix the CI to checkout submodules
  .github/workflows/main.yml
Due: prettier --write

Apply formatter to package.json
  package.json
Due: prettier --write

Add git submodule paredit.js
  .gitmodules
Due: none

Fix lint-staged.config.mjs
  lint-staged.config.mjs
Due: none

Fix lint-staged config
  lint-staged.config.js
  lint-staged.config.mjs
Due: eslint --cache --fix, prettier --write

Fix lint-staged config
  lint-staged.config.js
Due: eslint --cache --fix, prettier --write

Fix .vscodeignore
  .vscodeignore
Due: none

Update
  src/configuration/configuration.ts
Due: eslint --cache --fix, prettier --write

custom paredit (#1802)
  .eslintignore
  .github/workflows/main.yml
  .gitmodules
  .lintstagedrc.json
  .prettierignore
  .vscodeignore
  README.md
  lint-staged.config.js
  package.json
  src/configuration/configuration.ts
  src/configuration/iconfiguration.ts
  src/test/suite/commands/paredit.test.ts
  yarn.lock
Due: eslint --cache --fix, prettier --write

Upgrade the NodeJS version to 20
  .nvmrc
Due: none

Version 0.55.0
  package.json
Due: prettier --write

Update typescript to 5.3.3 and @typescript-eslint/* plugins
  package.json
  yarn.lock
Due: prettier --write

Fix type annotations
  src/configuration/configuration.ts
  src/emulator.ts
  src/extension.ts
  src/promise-delegate.ts
  src/test/suite/utils.ts
  src/utils.ts
Due: eslint --cache --fix, prettier --write

dev/update typescript 5.3.3 (#1811)
  package.json
  src/configuration/configuration.ts
  src/emulator.ts
  src/extension.ts
  src/promise-delegate.ts
  src/test/suite/utils.ts
  src/utils.ts
  yarn.lock
Due: eslint --cache --fix, prettier --write

Add delete-horizontal-space
  keybindings.json
  package.json
  src/commands/edit.ts
  src/emulator.ts
  src/extension.ts
  src/test/suite/commands/edit.delete-horizontal-space.test.ts
Due: eslint --cache --fix, prettier --write

Add delete-horizontal-space (#1812)
  README.md
  keybindings.json
  package.json
  src/commands/edit.ts
  src/emulator.ts
  src/extension.ts
  src/test/suite/commands/edit.delete-horizontal-space.test.ts
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,ts}
  prettier --write: any of: *.{js,ts,md,json,yml}
