Repository whitphx/vscode-emacs-mcx: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts}": "eslint --cache --fix",
  "*.{js,ts,md,json,yml}": "prettier --write"
}

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

v0.48.2
  package.json
Due: prettier --write

Fix the Webpack config for the web ver. so that sinon@^15.2.0 works. Ref: https://github.com/mui/material-ui/pull/37430
  build/web-extension.webpack.config.js
Due: eslint --cache --fix, prettier --write

Fix the Webpack config for the web ver. so that sinon@^15.2.0 works. Ref: https://github.com/mui/material-ui/pull/37430 (#1634)
  build/web-extension.webpack.config.js
Due: eslint --cache --fix, prettier --write

v0.48.3
  package.json
Due: prettier --write

Fix .github/workflows/main.yml
  .github/workflows/main.yml
Due: prettier --write

Add eslint and tsc annotations on keybinding-generator/*
  keybinding-generator/cli.mts
  keybinding-generator/generate-keybindings.mts
Due: none

Fix .github/workflows/main.yml (#1635)
  .github/workflows/main.yml
Due: prettier --write

Add eslint and tsc annotations on keybinding-generator/* (#1633)
  keybinding-generator/cli.mts
  keybinding-generator/generate-keybindings.mts
Due: none

v0.48.4
  package.json
Due: prettier --write

Update TypeScript to v5 and replace ttypescript with ts-patch
  package.json
  yarn.lock
Due: prettier --write

Update TypeScript to v5 and replace ttypescript with ts-patch (#1638)
  package.json
  yarn.lock
Due: prettier --write

Upgrade glob to v10
  package.json
  src/test/suite/index.ts
  yarn.lock
Due: eslint --cache --fix, prettier --write

Recreate yarn.lock
  yarn.lock
Due: none

Set Node version
  .github/workflows/main.yml
  .nvmrc
Due: prettier --write

New methods to create "register save" and "register insert" commands that play nicely with existing Rect-related commands
  keybinding-generator/cli.mts
  keybinding-generator/generate-keybindings.mts
Due: none

New methods to create "register save" and "register insert" commands that play nicely with existing Rect-related commands
  keybindings.json
  package.json
  src/commands/registers.ts
  src/emulator.ts
  src/extension.ts
Due: eslint --cache --fix, prettier --write

Update README.md
  README.md
Due: prettier --write

Fix EmacsEmulatorMap to use vscode.TextEditor as its keys instead of Document.url
  src/emulator-map.ts
Due: eslint --cache --fix, prettier --write

Fix the selection sync management and make mark-mode synced among editors on the same document
  src/emulator.ts
  src/extension.ts
  src/test/suite/editor-switch.test.ts
Due: eslint --cache --fix, prettier --write

Refactoring
  src/emulator.ts
Due: eslint --cache --fix, prettier --write

Fix the CI/CD trigger
  .github/workflows/main.yml
Due: prettier --write

Fix the CI/CD trigger (#1650)
  .github/workflows/main.yml
Due: prettier --write

Fix
  src/extension.ts
Due: eslint --cache --fix, prettier --write

Add an option to set the pre-release flag
  .github/workflows/main.yml
Due: prettier --write

Add scripts/new-version.sh to automate Git tagging on release
  scripts/new-version.sh
Due: none

Add an option to set the pre-release flag (#1651)
  .github/workflows/main.yml
  scripts/new-version.sh
Due: prettier --write

Version 0.48.5
  package.json
Due: prettier --write

Add a CI trigger on tag
  .github/workflows/main.yml
Due: prettier --write

Add a CI trigger on tag (#1652)
  .github/workflows/main.yml
Due: prettier --write

Version 0.48.6
  package.json
Due: prettier --write

Update scripts/new-version.sh
  scripts/new-version.sh
Due: none

Update scripts/new-version.sh (#1653)
  scripts/new-version.sh
Due: none

Fix the selection sync management and make mark-mode synced among editors on the same document (#1648)
  src/emulator.ts
  src/extension.ts
  src/test/suite/editor-switch.test.ts
Due: eslint --cache --fix, prettier --write

Version 0.49.0 (pre-release)
  package.json
Due: prettier --write
