Repository whitphx/vscode-emacs-mcx: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

Ignore keybindings.json
  .prettierignore
Due: none

Manually format keybindings.json
  keybindings.json
Due: prettier --write

fix/prettier (#1451)
  .eslintrc.json
  .github/dependabot.yml
  .github/workflows/test.yml
  .husky/pre-commit
  .lintstagedrc.json
  .prettierignore
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  CHANGELOG.md
  DEVELOPMENT.md
  README.md
  build/web-extension.webpack.config.js
  keybinding-generator/cli.ts
  keybindings.json
  package.json
  tsconfig.json
  webpack.config.js
  yarn.lock
Due: eslint --cache --fix, prettier --write

Create .git-blame-ignore-revs
  .git-blame-ignore-revs
Due: none

Use document.uri instead of EditorIdentity
  src/editorIdentity.ts
  src/emulator-map.ts
  src/emulator.ts
  src/kill-yank/index.ts
Due: eslint --cache --fix, prettier --write

Rename EmacsEmulatorMap.getKeys() to .keys() with some refactorings
  src/emulator-map.ts
  src/extension.ts
Due: eslint --cache --fix, prettier --write

Add comment
  src/emulator.ts
Due: eslint --cache --fix, prettier --write

Use Uri.toString() instead of Uri object as the editor ID
  src/emulator-map.ts
  src/emulator.ts
  src/kill-yank/index.ts
Due: eslint --cache --fix, prettier --write

Refactoring
  src/extension.ts
Due: eslint --cache --fix, prettier --write

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

Revert the function call of emacsEmulator.setTextEditor(editor)
  src/emulator-map.ts
Due: eslint --cache --fix, prettier --write

Use document.uri instead of EditorIdentity for Jupyter Notebooks (#1455)
  CHANGELOG.md
  src/editorIdentity.ts
  src/emulator-map.ts
  src/emulator.ts
  src/extension.ts
  src/kill-yank/index.ts
Due: eslint --cache --fix, prettier --write

v0.45.1
  package.json
Due: prettier --write

Update .vscodeignore
  .vscodeignore
Due: none

Create .github/workflows/main.yml that has both build and publish jobs
  .github/workflows/main.yml
  .github/workflows/release.yml
Due: none

Fix the CI trigger
  .github/workflows/main.yml
Due: none

Add release job
  .github/workflows/main.yml
Due: none

Upload the build artifact with Git revision or tag name
  .github/workflows/main.yml
Due: none

Remove unused step ID
  .github/workflows/main.yml
Due: none

Update .vscodeignore (#1458)
  .vscodeignore
Due: none

Add the package name suffix
  .github/workflows/main.yml
Due: none

Create .github/workflows/main.yml that has both build and publish jobs (#1459)
  .github/workflows/main.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

Add *.yml to .lintstagedrc.json
  .lintstagedrc.json
Due: prettier --write

Add *.yml to .lintstagedrc.json (#1462)
  .lintstagedrc.json
Due: prettier --write

Update the test scripts following 'https://code.visualstudio.com/api/working-with-extensions/testing-extension#migrating-from-vscode'
  package.json
  src/test/runTest.ts
  src/test/suite/index.ts
  yarn.lock
Due: eslint --cache --fix, prettier --write

Update the test scripts following 'https://code.visualstudio.com/api/working-with-extensions/testing-extension#migrating-from-vscode' (#1463)
  package.json
  src/test/runTest.ts
  src/test/suite/index.ts
  yarn.lock
Due: eslint --cache --fix, prettier --write

Fix .github/workflows/main.yml
  .github/workflows/main.yml
Due: none

Fix .github/workflows/main.yml (#1461)
  .github/workflows/main.yml
Due: none

v0.45.2-rc0
  package.json
Due: prettier --write

Fix the cross-job reference to the package-suffix output
  .github/workflows/main.yml
Due: none

v0.45.2-rc1
  package.json
Due: prettier --write

Fix the bash expansion of a GitHub Actions context value
  .github/workflows/main.yml
Due: none

v0.45.2-rc2
  package.json
Due: prettier --write

Fix the bash expansion of a GitHub Actions context value (#1464)
  .github/workflows/main.yml
Due: none

v0.45.2-rc3
  package.json
Due: prettier --write

Fix the build package name
  .github/workflows/main.yml
Due: none

Fix the build package name (#1465)
  .github/workflows/main.yml
Due: none

Path conditions:
  eslint --cache --fix: any of: *.{js,ts}
  prettier --write: any of: *.{js,ts,md,json}
