Repository whitphx/vscode-emacs-mcx: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts}": "eslint --cache --fix",
  "*.{js,ts,md,json,yml}": "prettier --write"
}

v0.45.2-rc4
  package.json
Due: prettier --write

Fix the publishing CD step
  .github/workflows/main.yml
Due: prettier --write

v0.45.2-rc5
  package.json
Due: prettier --write

v0.45.2-rc6
  package.json
Due: prettier --write

v0.45.2-rc7
  package.json
Due: prettier --write

Remove unnecessary path specification when downloading the artifact
  .github/workflows/main.yml
Due: prettier --write

v0.45.2-rc8
  package.json
Due: prettier --write

debug
  .github/workflows/main.yml
Due: prettier --write

Pass the filename to the publish action
  .github/workflows/main.yml
Due: prettier --write

Revert the condition of the publish job
  .github/workflows/main.yml
Due: prettier --write

fix/publish job (#1467)
  .github/workflows/main.yml
Due: prettier --write

v0.45.2-rc9
  package.json
Due: prettier --write

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

v0.45.2
  package.json
Due: prettier --write

Rename the workflow defined in main.yml
  .github/workflows/main.yml
Due: prettier --write

Rename the workflow defined in main.yml (#1468)
  .github/workflows/main.yml
Due: prettier --write

Update README.md setting up the CI badge
  README.md
Due: prettier --write

Close the panel before the tests
  src/test/suite/index.ts
Due: eslint --cache --fix, prettier --write

Update .git-blame-ignore-revs
  .git-blame-ignore-revs
Due: none

Close the panel before the tests (#1469)
  src/test/suite/index.ts
Due: eslint --cache --fix, prettier --write

Move the command call of closePanel to the cleanupWorkspace hook
  src/test/suite/index.ts
  src/test/suite/utils.ts
Due: eslint --cache --fix, prettier --write

Move the command call of closePanel to the cleanupWorkspace hook (#1473)
  src/test/suite/index.ts
  src/test/suite/utils.ts
Due: eslint --cache --fix, prettier --write

Replace any with unknown as much as possible without changing other parts of the code
  src/commands/registry.ts
  src/configuration/configuration.ts
  src/extension.ts
  src/test/suite/execute-commands.test.ts
Due: eslint --cache --fix, prettier --write

Fix cleanUpWorkspace hook to call the command with await
  src/test/suite/utils.ts
Due: eslint --cache --fix, prettier --write

Fix cleanUpWorkspace hook to call the command with await (#1474)
  src/test/suite/utils.ts
Due: eslint --cache --fix, prettier --write

Update
  src/commands/move.ts
  src/emulator.ts
  src/test/suite/commands/move.test.ts
Due: eslint --cache --fix, prettier --write

Fix the scroll(Up|Down)Command behavior with a prefix argument to scroll the window keeping the cursor position
  src/commands/move.ts
  src/test/suite/commands/move.test.ts
Due: eslint --cache --fix, prettier --write

Replace any with unknown as much as possible without changing other parts of the code (#1472)
  src/commands/registry.ts
  src/configuration/configuration.ts
  src/extension.ts
  src/test/suite/execute-commands.test.ts
Due: eslint --cache --fix, prettier --write

Update
  src/commands/move.ts
Due: eslint --cache --fix, prettier --write

Reload the config at teardown
  src/test/suite/commands/move.test.ts
Due: eslint --cache --fix, prettier --write

Remove strictEmacsMove from the tests
  src/test/suite/commands/move.test.ts
Due: eslint --cache --fix, prettier --write

Update the tests
  src/test/suite/commands/move.test.ts
Due: eslint --cache --fix, prettier --write

Fix
  src/test/suite/commands/move.test.ts
Due: eslint --cache --fix, prettier --write
