Repository whitphx/vscode-emacs-mcx: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts}": "eslint --cache --fix",
  "*.{js,ts,md,json,yml}": "prettier --write"
}

Update .vscodeignore adding keybinding-generator/ and scripts/
  .vscodeignore
Due: none

Update README.md
  README.md
Due: prettier --write

Assign `ctrl+s` and `ctrl+r` to the `notebook.find` command
  keybindings.json
  package.json
Due: prettier --write

Fix EmacsEmulator.switchTextEditor to wait for .nativeSelections to be set by other places, e.g. onDidChangeTextEditorSelection triggered by the code jump
  src/emulator.ts
  src/promise-delegate.ts
  src/test/suite/utils.ts
  src/utils.ts
  tsconfig.json
Due: eslint --cache --fix, prettier --write

Update .vscodeignore adding keybinding-generator/ and scripts/ (#1655)
  .vscodeignore
Due: none

Fix tests
  src/test/suite/editor-switch.test.ts
Due: eslint --cache --fix, prettier --write

Update README.md (#1660)
  README.md
Due: prettier --write

Workaround the web tests
  src/extension.ts
  src/web/test/suite/index.ts
Due: eslint --cache --fix, prettier --write

Revert "Workaround the web tests"
  src/extension.ts
  src/web/test/suite/index.ts
Due: eslint --cache --fix, prettier --write

Removed commented region
  src/emulator.ts
Due: eslint --cache --fix, prettier --write

Per feedback - refactoring text registers to be shared across multiple document windows (multiple EmacsEmulator objects)
  src/emulator-map.ts
  src/emulator.ts
  src/extension.ts
Due: eslint --cache --fix, prettier --write

Create scripts/run-web-test.sh to remove the `*` activation point from `package.json` before running the tests in the web env
  package.json
  scripts/run-web-test.sh
Due: prettier --write

Fix scripts/run-web-test.sh to ensure running the teardown and set the exit code as same as the main test command
  scripts/run-web-test.sh
Due: none

[WIP] Fail test
  src/test/suite/editor-switch.test.ts
Due: eslint --cache --fix, prettier --write

Revert "[WIP] Fail test"
  src/test/suite/editor-switch.test.ts
Due: eslint --cache --fix, prettier --write

Fix EmacsEmulator.switchTextEditor to wait for .nativeSelections to be set by other places, e.g. onDidChangeTextEditorSelection triggered by the code jump (#1661)
  package.json
  scripts/run-web-test.sh
  src/emulator.ts
  src/promise-delegate.ts
  src/test/suite/editor-switch.test.ts
  src/test/suite/utils.ts
  src/utils.ts
  tsconfig.json
Due: eslint --cache --fix, prettier --write

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

Version 0.49.1 (pre-release)
  package.json
Due: prettier --write

Update DEVELOPMENT.md
  DEVELOPMENT.md
Due: prettier --write

- Removed extraneous not-in-vanilla-Emacs messages - Made startRegisterSaveCommand() private - Made textEditor.edit((editBuilder) ...) use await in saveRegister() method
  src/commands/registers.ts
  src/emulator.ts
Due: eslint --cache --fix, prettier --write

Emacs text registers (#1643)
  keybinding-generator/cli.mts
  keybinding-generator/generate-keybindings.mts
  keybindings.json
  package.json
  src/commands/registers.ts
  src/emulator-map.ts
  src/emulator.ts
  src/extension.ts
Due: eslint --cache --fix, prettier --write

Update README.md and CHANGELOD.md about the text registers
  CHANGELOG.md
  README.md
Due: prettier --write

Update README.md and CHANGELOD.md about the text registers (#1669)
  CHANGELOG.md
  README.md
Due: prettier --write

Assign `ctrl+s` and `ctrl+r` to the `notebook.find` command (#1659)
  keybindings.json
  package.json
Due: prettier --write

Set the NodeJS version to 20.x
  .github/workflows/main.yml
Due: prettier --write

Version 0.50.0
  package.json
Due: prettier --write

Set the NodeJS version to 18.x
  .github/workflows/main.yml
Due: prettier --write

Add .nvmrc
  .github/workflows/main.yml
  .nvmrc
Due: prettier --write

Set the NodeJS version to 18.x (#1672)
  .github/workflows/main.yml
  .nvmrc
Due: prettier --write

Revert the test case which has been failing due to auto-indent feature
  src/test/suite/commands/kill-yank/kill-ring-yank.test.ts
Due: eslint --cache --fix, prettier --write

Add delays
  src/test/suite/commands/kill-yank/kill-ring-yank.test.ts
Due: eslint --cache --fix, prettier --write

Revert the test case which has been failing due to auto-indent feature (#1673)
  src/test/suite/commands/kill-yank/kill-ring-yank.test.ts
Due: eslint --cache --fix, prettier --write

Refactoring src/commands/rectangle.ts
  src/commands/rectangle.ts
Due: eslint --cache --fix, prettier --write

Refactoring src/commands/rectangle.ts (#1680)
  src/commands/rectangle.ts
Due: eslint --cache --fix, prettier --write

Increase the adhoc delay time in tests
  src/test/suite/commands/kill-yank/kill-ring-yank.test.ts
Due: eslint --cache --fix, prettier --write

Set mocha's retries param for flaky tests
  src/test/suite/index.ts
Due: eslint --cache --fix, prettier --write

Set mocha's retries param for flaky tests (#1690)
  src/test/suite/index.ts
Due: eslint --cache --fix, prettier --write

Update keybindings.json
  keybindings.json
Due: prettier --write

Bugfix for text registers k, y, d, o, c, t, and p not working. (#1679)
  keybinding-generator/generate-keybindings.mts
  package.json
  src/commands/registers.ts
Due: eslint --cache --fix, prettier --write
