Repository whitphx/vscode-emacs-mcx: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts}": "eslint --cache --fix",
  "*.{js,ts,md,json,yml}": "prettier --write"
}

Run yarn gen-keys
  package.json
Due: prettier --write

Run yarn gen-keys (#1694)
  package.json
Due: prettier --write

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

Version 0.50.1
  package.json
Due: prettier --write

Replace the activationEvent "*" with "onStartupFinished"
  package.json
Due: prettier --write

Delete calling `revealRange()` in `switchTextEditor()` because it breaks a standard VSCode behavior
  src/emulator.ts
Due: eslint --cache --fix, prettier --write

Fix to call `Emulator.switchTextEditor()` only when necessary
  src/extension.ts
Due: eslint --cache --fix, prettier --write

Fix a comment
  src/emulator.ts
Due: eslint --cache --fix, prettier --write

Remove `scripts/run-web-test.sh` which was introduced in #1661
  package.json
  scripts/run-web-test.sh
Due: prettier --write

Set `generate_release_notes: true` on the `softprops/action-gh-release@v1` CI/CD action
  .github/workflows/main.yml
Due: prettier --write

Set `generate_release_notes: true` on the `softprops/action-gh-release@v1` CI/CD action (#1723)
  .github/workflows/main.yml
Due: prettier --write

fix/text switch (#1722)
  src/emulator.ts
  src/extension.ts
Due: eslint --cache --fix, prettier --write

Delete calling `revealRange()` in `switchTextEditor()` because it breaks a standard VSCode behavior (#1721)
  src/emulator.ts
Due: eslint --cache --fix, prettier --write

Revert "Remove `scripts/run-web-test.sh` which was introduced in #1661"
  package.json
  scripts/run-web-test.sh
Due: prettier --write

Fix scripts/run-web-test.sh
  scripts/run-web-test.sh
Due: none

Version 0.50.2
  package.json
Due: prettier --write

Create release.yml
  .github/release.yml
Due: prettier --write

Replace the activationEvent "*" with "onStartupFinished" (#1720)
  package.json
  scripts/run-web-test.sh
Due: prettier --write

Version 0.50.3
  package.json
Due: prettier --write

Apply formatter
  .github/release.yml
Due: prettier --write

Apply formatter (#1732)
  .github/release.yml
Due: prettier --write

Version 0.50.4
  package.json
Due: prettier --write

The `newLine` command with a single edit history
  src/commands/edit.ts
Due: eslint --cache --fix, prettier --write

Update the test
  src/test/suite/commands/new-line.test.ts
Due: eslint --cache --fix, prettier --write

Fix
  src/commands/edit.ts
Due: eslint --cache --fix, prettier --write

Fix the impl to deal with multi-line comments in JS
  src/commands/edit.ts
  src/test/suite/commands/new-line.test.ts
Due: eslint --cache --fix, prettier --write

Fix implementation
  src/commands/edit.ts
Due: eslint --cache --fix, prettier --write

Fix the adhoc delay value to pass the CI
  src/commands/edit.ts
Due: eslint --cache --fix, prettier --write

Emacs-like tab
  keybindings.json
  package.json
  src/commands/indent.ts
  src/emulator.ts
  src/extension.ts
Due: eslint --cache --fix, prettier --write

Add a simple test
  src/test/suite/commands/reindent.test.ts
Due: eslint --cache --fix, prettier --write

Add a test case
  src/test/suite/commands/reindent.test.ts
Due: eslint --cache --fix, prettier --write

Add tests
  src/test/suite/commands/reindent.test.ts
Due: eslint --cache --fix, prettier --write

Fix
  src/commands/indent.ts
  src/test/suite/commands/reindent.test.ts
Due: eslint --cache --fix, prettier --write

Rename Reindent to TabToTabStop
  keybindings.json
  package.json
  src/commands/tab.ts
  src/emulator.ts
  src/extension.ts
  src/test/suite/commands/tab.test.ts
Due: eslint --cache --fix, prettier --write

Update README.md
  README.md
Due: prettier --write

Fix the impl for multi cursor
  src/commands/tab.ts
  src/test/suite/commands/tab.test.ts
Due: eslint --cache --fix, prettier --write
